.calc_row td input{
    width: 40px;
}

.calc_display{
    margin-right: 0;
}
.calc_display td input{
    text-align: right;
    width: 200px;
}

.calc_tDisplay{
    text-align: center;
    width: 100%;
}